<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h2>In Action</h2>

            <div class="btn-group">
                <button class="btn btn-primary" ng-click="add()">Add</button>
                <button class="btn btn-danger" ng-click="remove()">Remove</button>
            </div>

            <div masonry='{"itemSelector":".tile", "gutter":10, "isFitWidth":true}' class="m-container">
                <div masonry-tile class="tile" ng-repeat="brick in bricks">
                    <img ng-src="{{ brick.src }}" alt="A masonry brick" class="img-responsive">
                </div>
            </div>

        </div>
    </div>
</div>
