<strong>Hurufiyyat</strong> (Arabic: حروفيات) is an abstract style of calligraphy that Mokhtar El-Baba developed
in recent years. The idea behind this innovative style is to present a blend of Arabic letters
("Huruf"  حروف in Arabic) that do not form recognizable words, yet conform closely to the rules of
classic calligraphy. The result is a genuine style of calligraphy that is true to the
classical art, yet one that does not require the knowledge of the Arabic language to be fully appreciated.
