<strong>Farsi</strong> was the predominant style of Persian calligraphy during the 15th and 16th centuries.
The inventor was Mir 'Ali of Tabriz, the most famous calligrapher of the Timurid period (1402-1502).
A cursive script, Farsi features elongated horizontal strokes and exaggerated rounded forms.
The diacritical marks were casually placed, and the lines were flowing rather than straight.
Farsi was frequently incorporated into the paintings of the early Safavid period (16th century)
and is traditionally considered to be the most elegant of the Persian scripts.
