/*bootstrap fixed navbar*/
body {
    min-height: 2000px;
    padding-top: 70px;
}

[ng-cloak] {
    display: none;
}

/*masonry stuff*/
.m-container {
    margin: 0 auto;
    overflow: auto;
}
.m-container .tile {
    margin: 0 0 25px 0;
    width: 300px;
    float: left;
    padding: 10px;
    background: #ffffff;
}
.m-container .tile.loaded {
    display: block;
}
.tile-img {
    width: 300px;
    padding-bottom: 10px;
}
.tile-info {
    padding-bottom: 10px;
}
.tile-tags {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

