<div class="container-fluid">

    <!--
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                    <ng-switch on="$last">
                        <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                    </ng-switch>
                </li>
            </ol>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-12">
            <lawha-tile></lawha-tile>
        </div>
    </div>

</div>
